{# empty Twig template #}
{#{ form(form_inserta_incidencia) }#}
    <h2>Insertar Incidencia</h2>
    <br>
    {{ form_start(form_inserta_incidencia) }}
    {{ form_end(form_inserta_incidencia) }}
   
